& {
  margin: 0.5rem 1rem;
}

& > ul {
  list-style-type: none;
  padding: 0;
}

& > ul > li {
  width: 33.333333%;
  float: left;
}


& .fa-star-o {
  color: #888;
  opacity: 0.7;
}

& .fa-star-o:hover {
  opacity: 1;
  cursor: pointer;
}

& .fa-star {
  color: rgb(255, 252, 17);
}

& .fa-star:hover {
  opacity: 0.7;
  cursor: pointer;
}
